body {
    background: #f2f2f2;
    font-family: Arial;
}

.result-card {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

