body {
    margin: 0;
    font-family: Arial;
}

header {
    height: 100vh;
    background: linear-gradient(to right, #004e92, #000428);
    color: white;
    text-align: center;
    padding-top: 200px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
}
