body {
    margin: 0;
    font-family: Arial;
}

.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085") center/cover;
    color: white;
    text-align: center;
    padding-top: 220px;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.6);
}

button {
    padding: 12px 30px;
    background: transparent;
    color: white;
    border: 2px solid white;
}
